body {
  margin: 0;
}

.option__selected {
  height: 20px;
  border: 1px solid #000;
  margin-bottom: -1px;
  width: 200px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.option__delete {
  cursor: pointer;
}

.option__list {
  width: 200px;
  border: 1px solid #000;
  padding: 10px;
  margin: 0;
}

.option__list-element {
  list-style-type: none;
  cursor: pointer;
}
